In [1]:
%matplotlib  inline 
import pandas as pd
import numpy as np
import scipy.stats as sas
import seaborn as sns

In [2]:
call_record_hour=pd.read_csv("data/call_record_hour.csv",index_col=0)

In [3]:
cust_user_info=pd.read_csv("data/fdl_cust_user_info_chain.csv",index_col=1)
cust_user_info.drop(['Unnamed: 0'],inplace=True,axis=1)
cust_user_info=cust_user_info.drop_duplicates(subset=["id_no"])

/usr/bin/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
call_record_hour.head(6)

,custorm_id,name,number,call_time,type,time,contact_gap
0,4335793,赖立新,13001011021,2016-11-04 10:17:24,2,22.0,NaN
1,3157627,13001016170,13001016170,2016-11-30 08:08:13,2,0.0,NaN
2,2559110,8613001018225,13001018225,2016-06-30 10:32:02,2,NaN,0.000313
2,2559110,8613001018225,13001018225,2016-06-30 10:32:29,2,NaN,0.000313
2,2559110,8613001018225,13001018225,2016-06-30 10:33:13,2,NaN,0.000509
2,2559110,8613001018225,13001018225,2016-06-30 10:33:38,2,NaN,0.000289

In [5]:
cust_user_info.head(6)

      cust_name               id_no      mobi_no  reg_src
id
5798        戴俊安  371311198712212615  18267179687  Android
20995       肖艳平  430204197010230028  18607337862  Android
25064       申俊鹤  410526199107059570  13253382545  Android
40794        庄超  350627198804100058  15259663858  Android
49569       李小峰  150221199302253254  15049339225  Android
61893       王笑娓  652322199304170024  18690211580      iOS

## 数据清理
- time=="nan":(25799780, 7)
- 去除 time=="nan" 和 通话时间小于11.5s 的记录
- 数据清理后27242414条

In [6]:
call_record_hour=call_record_hour[(call_record_hour.time.apply(str)!='nan')&(call_record_hour.time>11.5)]

In [7]:
call_record_hour.shape

(27242414, 7)

In [8]:
call_record_hour.set_index("custorm_id",inplace=True)
call_record_hour=call_record_hour.join(cust_user_info)

cust_user_info.rename_axis({"mobi_no":"number"},axis="columns",inplace=True)

call_record_hour=pd.merge(call_record_hour,cust_user_info,on="number",how="inner",right_index=True,suffixes=("_A","_B"))

In [9]:
## 出生年
call_record_hour["age_A"]=call_record_hour.id_no_A.str.slice(6,10).astype("float")
call_record_hour["age"]=call_record_hour.id_no_B.str.slice(6,10).astype("float")
call_record_hour["age_Gap"]=call_record_hour.age-call_record_hour.age_A
##出生月
call_record_hour["born_month"]=call_record_hour.id_no_B.str.slice(10,12).astype("float")
call_record_hour["born_month_A"]=call_record_hour.id_no_A.str.slice(10,12).astype("float")
## 性别
call_record_hour["sex_A"]=call_record_hour.id_no_A.str.slice(16,17)
call_record_hour["sex"]=call_record_hour.id_no_B.str.slice(16,17)

##省份
call_record_hour["id_province"]=call_record_hour.id_no_B.str.slice(0,2)
call_record_hour["id_province_A"]=call_record_hour.id_no_A.str.slice(0,2)
call_record_hour["same_province"]=call_record_hour.id_province==call_record_hour.id_province_A
## 城市
call_record_hour["id_city"]=call_record_hour.id_no_B.str.slice(2,4)
call_record_hour["id_city_A"]=call_record_hour.id_no_A.str.slice(2,4)
call_record_hour["same_city"]=call_record_hour.id_city==call_record_hour.id_city_A

In [ ]:
call_record_hour.drop_duplicates(inplace=True)