In [1]:
%matplotlib  inline
import pandas as pd
import numpy as np

In [2]:
def get_summary(file_path):
    records=pd.read_csv(file_path,index_col=0)
    summay=pd.read_csv('MSN/ymdh/mobi_cust_summary.csv',index_col=0)
    

    t1.set_index('custorm_id',inplace=True)
    t1['time_ratio']=t1.total_duration/t1.total_time
    t1['freq_ratio']=t1.total_frequency/t1.total_freq
    t1['avg_ratio']=t1.avg_duration/t1.total_avg_duration
    return t1

In [ ]:
t1=get_summary('MSN/ymdh/mobi_rel_data.csv')

In [2]:
records=pd.read_csv('MSN/ymdh/mobi_rel_data.csv',index_col=0)
summay=pd.read_csv('MSN/ymdh/mobi_cust_summary.csv',index_col=0)
t1=pd.merge(records,summay,on='custorm_id')
t1.drop(['custorm_id.1','number.1','custorm_id.2','number.2'],axis=1,inplace=True)
summay=pd.read_csv('MSN/ymdh/mobi_cust_summary.csv',index_col=0)
t1=pd.merge(records,summay,on='custorm_id')
# t1.drop(['custorm_id.1','number.1','custorm_id.2','number.2'],axis=1,inplace=True)
# t1.set_index('custorm_id',inplace=True)
# t1['time_ratio']=t1.total_duration/t1.total_time
# t1['freq_ratio']=t1.total_frequency/t1.total_freq
# t1['avg_ratio']=t1.avg_duration/t1.total_avg_duration

/opt/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2,39,78) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
t1.head(3)

,number,total_frequency,total_duration,avg_duration,max_duration,min_duration,coef_var,income_total_duration,outgo_total_duration,income_total_frequency,...,workday3_time_ratio,workday3_call_cnt_ratio,workday3_income_time_ratio,workday3ougo_time_ratio,workday3_income_cnt_ratio,workday3_ougo_cnt_ratio,week_work_ratio,total_time,total_freq,total_avg_duration
custorm_id,,,,,,,,,,,,,,,,,,,,,
100008,13806983929,37,2108.0,56.972973,158.0,15.0,0.634581,1158.0,950.0,20,...,0.103647,0.130435,0.103647,NaN,0.130435,0.000000,1.911927,122465.0,1942,63.061277
100008,13806032559,23,808.0,35.130435,120.0,11.0,0.779840,640.0,168.0,17,...,0.367688,0.315789,0.096100,0.271588,0.157895,0.157895,5.318519,122465.0,1942,63.061277
100008,13459200353,9,361.0,40.111111,83.0,14.0,0.613997,323.0,38.0,7,...,1.000000,1.000000,0.828571,0.171429,0.666667,0.333333,0.633484,122465.0,1942,63.061277

In [4]:
t1.set_index('custorm_id',inplace=True)

In [8]:
t2=t1[:10000]

In [10]:
t2.total_duration/t2.total_time

custorm_id
100008     0.017213
100008     0.006598
100008     0.002948
100008     0.032254
100008     0.008974
100008     0.022366
100008     0.006467
100008     0.019067
100008     0.002874
100008     0.028212
100008     0.004630
100008     0.009709
100008     0.150696
1000538    0.009427
1000538    0.030849
1000538    0.037344
1000538    0.302330
1000538    0.016750
1000538    0.014141
1000538    0.010837
1000538    0.008894
1000538    0.065782
1000538    0.018795
1000538    0.104115
1001016    0.004337
1001016    0.005615
1001016    0.009704
1001016    0.008825
1001016    0.017084
1001016    0.056522
             ...
1147132    0.005918
1147132    0.000173
1147132    0.001321
1147132    0.010453
1147132    0.005936
1147132    0.003393
1147132    0.005014
1147132    0.000817
1147132    0.002238
1147132    0.001735
1147132    0.002184
1147132    0.001049
1147132    0.003263
1147132    0.004698
1147132    0.002290
1147132    0.001538
1147132    0.004216
1147132    0.009032
1147132    0.002849
1147132    0.001224
1147132    0.002155
1147132    0.002350
1147132    0.003277
1147132    0.000458
1147132    0.003899
1147132    0.001696
1147271    0.016326
1147271    0.000591
1147271    0.038160
1147271    0.053790
dtype: float64

In [12]:
t2['time_ratio']=t2.total_duration/t2.total_time
t2['freq_ratio']=t2.total_frequency/t2.total_freq
t2['avg_ratio']=t2.avg_duration/t2.total_avg_duration

/opt/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/opt/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/opt/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [15]:
t1.shape

(8295795, 137)

In [17]:
t1=t1.reset_index()

In [19]:
t3=pd.read_csv("MSN/wyd_relative_used_data.csv",index_col=0)

In [22]:
t3=t3.reset_index()

In [23]:
t4=pd.merge(t1,t3,on=['custorm_id','number'])

In [24]:
t4.shape

(7892956, 140)

In [25]:
t4.head(3)

,custorm_id,number,total_frequency,total_duration,avg_duration,max_duration,min_duration,coef_var,income_total_duration,outgo_total_duration,...,workday3_income_time_ratio,workday3ougo_time_ratio,workday3_income_cnt_ratio,workday3_ougo_cnt_ratio,week_work_ratio,total_time,total_freq,total_avg_duration,name,is_rel
0,100008,13806983929,37,2108.0,56.972973,158.0,15.0,0.634581,1158.0,950.0,...,0.103647,NaN,0.130435,0.000000,1.911927,122465.0,1942,63.061277,龙岩姐夫,0
1,100008,13806032559,23,808.0,35.130435,120.0,11.0,0.779840,640.0,168.0,...,0.096100,0.271588,0.157895,0.157895,5.318519,122465.0,1942,63.061277,吴江腾,0
2,100008,13459200353,9,361.0,40.111111,83.0,14.0,0.613997,323.0,38.0,...,0.828571,0.171429,0.666667,0.333333,0.633484,122465.0,1942,63.061277,紅館曾小虎,0

In [26]:
t4[t4.is_rel==0].shape

(5966993, 140)

In [27]:
t4[t4.is_rel==1].shape

(1925963, 140)

In [30]:
t4.set_index('custorm_id',inplace=True)

In [32]:
t4.to_csv('MSN/ymdh/processed_data/mobi_train_data.csv')

In [10]:
# t1=pd.merge(records,summay,on='custorm_id')
# t1.drop(['custorm_id.1','number.1','custorm_id.2','number.2'],axis=1,inplace=True)

t1.set_index('custorm_id',inplace=True)
t1['time_ratio']=t1.total_duration/t1.total_time
t1['freq_ratio']=t1.total_frequency/t1.total_freq
t1['avg_ratio']=t1.avg_duration/t1.total_avg_duration

In [11]:
for line in t1.columns:
    print line

custorm_id
number
total_frequency
total_duration
avg_duration_x
max_duration
min_duration
coef_var
income_total_duration
outgo_total_duration
income_total_frequency
outgo_total_frequency
income_avg_duration
outgo_avg_duration
outgo_time_ratio
outgo_cnt_ratio
income2avg
outgo2avg
local_total_duration
unlocal_total_duration
local_total_frequency
unlocal_total_frequency
local_avg_duration
unlocal_avg_duration
local_time_ratio
unlocal_cnt_ratio
local2avg
unlocal2avg
time_engagement_ratio
cnt_engagement_ratio
avg_interval
min_interval
max_interval
std_interval
avg_aday_duration
max_aday_duration
std_aday_duration
month_avg_total_frequency
month_avg_total_duration
month_avg_avg_duration
month_avg_coef_var
month_avg_income_total_duration
month_avg_outgo_total_duration
month_avg_income_total_frequency
month_avg_outgo_total_frequency
month_avg_income_avg_duration
month_avg_outgo_avg_duration
month_avg_outgo_time_ratio
month_avg_outgo_cnt_ratio
month_avg_income2avg
month_avg_outgo2avg
month_avg_local_total_duration
month_avg_unlocal_total_duration
month_avg_local_total_frequency
month_avg_unlocal_total_frequency
month_avg_local_avg_duration
month_avg_unlocal_avg_duration
month_avg_local_time_ratio
month_avg_unlocal_cnt_ratio
month_avg_local2avg
month_avg_unlocal2avg
month_avg_time_engagement_ratio
month_avg_cnt_engagement_ratio
month_avg_avg_interval
month_avg_min_interval
month_avg_max_interval
month_avg_std_interval
month_avg_avg_aday_duration
month_avg_max_aday_duration
month_std_total_frequency
month_std_total_duration
month_std_outgo_time_ratio
month_std_outgo_cnt_ratio
month_std_avg_interval
weekend2_time
weekend2_call_cnt
weekend2_income_time
weekend2ougo_time
weekend2_income_cnt
weekend2_ougo_cnt
weekend2_engegament_ratio
weekend2_avg_time
weekend2_time_ratio
weekend2_call_cnt_ratio
weekend2_income_time_ratio
weekend2ougo_time_ratio
weekend2_income_cnt_ratio
weekend2_ougo_cnt_ratio
weekend3_time
weekend3_call_cnt
weekend3_income_time
weekend3_outgo_time
weekend3_income_cnt
weekend3_ougo_cnt
weekend3_engegament_ratio
weekend3_avg_time
weekend3_time_ratio
weekend3_call_cnt_ratio
weekend3_income_time_ratio
weekend3ougo_time_ratio
weekend3_income_cnt_ratio
weekend3_ougo_cnt_ratio
workday2_time
workday2_call_cnt
workday2_income_time
workday2_ougo_time
workday2_income_cnt
workday2_ougo_cnt
workday2_engegament_ratio
workday2_avg_time
workday2_time_ratio
workday2_call_cnt_ratio
workday2_income_time_ratio
workday2ougo_time_ratio
workday2_income_cnt_ratio
workday2_ougo_cnt_ratio
workday3_time
workday3_call_cnt
workday3_income_time
workday3_ougo_time
workday3_income_cnt
workday3_ougo_cnt
workday3_engegament_ratio
workday3_avg_time
workday3_time_ratio
workday3_call_cnt_ratio
workday3_income_time_ratio
workday3ougo_time_ratio
workday3_income_cnt_ratio
workday3_ougo_cnt_ratio
week_work_ratio
total_time
total_freq
avg_duration_y

In [14]:
summay.head(3)

   custorm_id  total_time  total_freq  total_avg_duration
0     4352517     16295.0         137          118.941606
1     5938485     22663.0         354           64.019774
2     3943548     13945.0         174           80.143678

In [29]:
t1.head(10)

,number,total_frequency,total_duration,avg_duration,max_duration,min_duration,coef_var,income_total_duration,outgo_total_duration,income_total_frequency,...,workday3_income_time,workday3_ougo_time,workday3_income_cnt,workday3_ougo_cnt,workday3_engegament_ratio,workday3_avg_time,name,total_time,total_freq,total_avg_duration
custorm_id,,,,,,,,,,,,,,,,,,,,,
1000014,13925267361,21,1425.0,67.857143,78,1,1.587638,41.0,1384.0,4,...,NaN,264.0,0.0,4.0,NaN,66.000000,韩凯,58505.0,720,81.256944
1000014,13632595639,143,2893.0,20.230769,97,1,0.858234,1372.0,1521.0,61,...,76.0,409.0,6.0,25.0,0.313402,15.645161,爸,58505.0,720,81.256944
1000014,13924677418,19,1130.0,59.473684,8,135,1.745039,216.0,914.0,8,...,79.0,205.0,4.0,4.0,0.556338,35.500000,何智尧深圳,58505.0,720,81.256944
1000014,18665935907,6,324.0,54.000000,84,14,0.912057,76.0,248.0,3,...,46.0,NaN,1.0,0.0,NaN,46.000000,alaxz,58505.0,720,81.256944
1000014,18608049572,65,13550.0,208.461538,878,1,1.131925,6361.0,7189.0,36,...,621.0,2926.0,6.0,9.0,0.350155,236.466667,温小壮成都,58505.0,720,81.256944
1000014,13510290740,13,327.0,25.153846,9,102,0.941280,30.0,297.0,2,...,NaN,56.0,0.0,3.0,NaN,18.666667,张丹,58505.0,720,81.256944
1000014,13550317364,38,5071.0,133.447368,99,1,1.297207,1029.0,4042.0,14,...,NaN,1965.0,0.0,5.0,NaN,393.000000,小周,58505.0,720,81.256944
1000014,13590393229,20,3860.0,193.000000,8,101,2.125537,42.0,3818.0,2,...,NaN,1678.0,0.0,2.0,NaN,839.000000,李问桃一姐,58505.0,720,81.256944
1000014,15928480755,8,5612.0,701.500000,89,1265,0.829748,814.0,4798.0,2,...,NaN,1913.0,0.0,2.0,NaN,956.500000,涂合婷,58505.0,720,81.256944
1000014,13699829910,85,2131.0,25.070588,9,1,0.914903,305.0,1826.0,14,...,48.0,380.0,4.0,15.0,0.224299,22.526316,妈,58505.0,720,81.256944

In [2]:
t1=pd.read_csv('MSN/ymdh/relative_recogenition1.csv',index_col=0)

/opt/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
records=records.join(summay,on='custorm_id',lsuffix='x')

In [5]:
t1.to_csv('MSN/ymdh/relative_recogenition1.csv')