In [1]:
%matplotlib  inline
import pandas as pd
import numpy as np
import seaborn as sns

In [31]:
sample=pd.read_csv('MSN/sample_relative.csv',index_col=0,parse_dates=['call_time'])
sample.shape

(8707, 6)

In [32]:
sample=sample[(sample.type<3)&(sample.time>0)]
sample.shape

(6041, 6)

In [4]:
sample.head(3)

   custorm_id  name       number            call_time  type  time
0     3160062  白云合美     84863108  2016-08-01 19:54:23     2     0
1     3160062    早儿  13984328197  2016-08-09 14:19:08     1    28
2     3160062    陆伟  18984066076  2016-11-21 09:11:42     2    70

In [6]:
sample.groupby(['custorm_id','number'])['name'].count()

custorm_id  number
3160062     1520851          1
            84863108         2
            13007803819     22
            13007842699     10
            13037826907      1
            13037850888      3
            13087866855     71
            13158022101      2
            13158052117    154
            13158052865    191
            13158053567     13
            13177562576      4
            13208847727     25
            13312217838     33
            13312273268      5
            13349928080    113
            13368600485      1
            13383860518     17
            13505288380      7
            13511912315     26
            13511941799      6
            13511972588      1
            13511989053     86
            13518516661      7
            13554989533    441
            13595009166      1
            13595069490      2
            13595124152     11
            13595128916      8
            13595140552     28
                          ...
            18334252567     31
            18386784336     10
            18508521167    105
            18627785351     17
            18684112922     39
            18685009118      5
            18685107628      2
            18785009768      3
            18786032238     10
            18786072753      2
            18786113905     13
            18786615776      1
            18786661797      9
            18798884808    130
            18798890694    140
            18841651657      2
            18932001233      3
            18984027642     13
            18984030101      2
            18984031036      5
            18984066076      6
            18984137994    835
            18984313406      7
            18984383168      2
            18984389358     23
            18984587706     95
            18985130711    122
            18985502977      9
            75583765566      7
            85184863108     31
Name: name, dtype: int64

In [33]:
call_one=sample[sample.number==13158052865]

In [35]:
call_one=call_one.sort_values('call_time')

In [36]:
call_one.head(10)

      custorm_id name       number           call_time  type  time
7772     3160062   二姐  13158052865 2016-04-11 03:28:28     2    56
7960     3160062   二姐  13158052865 2016-04-11 10:25:51     2   101
3113     3160062   二姐  13158052865 2016-04-11 10:30:33     1   121
7198     3160062   二姐  13158052865 2016-04-12 08:28:14     2    74
1807     3160062   二姐  13158052865 2016-04-14 05:52:23     1    13
5934     3160062   二姐  13158052865 2016-04-18 01:57:15     2   536
88       3160062   二姐  13158052865 2016-04-18 05:32:25     1    24
4910     3160062   二姐  13158052865 2016-04-18 06:43:17     1    58
2522     3160062   二姐  13158052865 2016-04-21 10:35:21     1    44
4222     3160062   二姐  13158052865 2016-04-21 22:56:20     1    10

# 二、特征工程

## 2.1 总体统计
> C:单个人
- 总时长
- 总频率

> C2C:A_B
- 总次数
- 总时间
- 占其总通话时长的比率（统计时间内）
- 占其总通话频率的比率 （统计时间内）
- 平均时间时长
- 最大、最小时长
- 时长的变异系数
- 频率的变异系数
- 打电话的总次数
- 接电话的总次数
- 打电话的总时间
- 接电话的总时间
- 打电话的平均时长
- 接电话的平均时长
- 互动率：1-|打电话的总时间- 接电话的总时间|/总时间：如果为1则说明互动是对称的，为0则说明互动是不对称的
- 平均时间间隔：$\sum_{i=1}^{n-1} \frac{(t_{i+1}-t_{i})}{n-1}$ 及max,min间隔
-  时长/间隔：日均通话时长。mean,max,变异系数

## 2.1 按月均值统计
> 以下是以月为单位的的均值
- 时长
- 频率
- 来电时长
- 去电时长
- 去电频率
- 来电频率
- 月互动率
- 月均时长

## 2.2 按每周均值统计
> 一下均以周计算
- 工作日白天通话时长
- 工作日晚上通话时长
- 工作日白天通话频率
- 工作日白天通话频率
- 及以上白天时长、次数与晚上的比值
- 及以后周末特征进行统计

## 2.3
> 聚合后
- A与C联系的时长占A在该月、工作日，周末的比率
- 次数
-

19.351111111111113