# 亲属关系判别模型

In [2]:
%matplotlib  inline
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

from sklearn.cross_validation import train_test_split
from sklearn.metrics import r2_score, auc,roc_auc_score,precision_score,accuracy_score,f1_score,recall_score,auc

rel_data=pd.read_csv('MSN/ymdh/processed_data/mobi_train_data.csv',index_col=0,chunksize=100000)

In [3]:
rel_data=rel_data.next()
rel_data.drop(['number','name'],axis=1,inplace=True)

rel_data=rel_data.fillna(0.0)

In [ ]:
rel_data.total_frequency/rel_data.total_duration

In [ ]:
# rel_data['time_ratio']=rel_data.total_duration/rel_data.total_time
# rel_data['freq_ratio']=rel_data.total_frequency/rel_data.total_freq
# rel_data['avg_ratio']=rel_data.avg_duration/rel_data.total_avg_duration
# rel_data.to_csv('MSN/ymdh/processed_data/mobi_rel_data.csv')

In [ ]:
rel_data['time_ratio']=rel_data.total_duration/rel_data.total_time
rel_data['freq_ratio']=rel_data.total_frequency/rel_data.total_freq
rel_data['avg_ratio']=rel_data.avg_duration/rel_data.total_avg_duration

array([0, 1])

In [24]:
rel_data.head(3)

,number,total_frequency,total_duration,avg_duration,max_duration,min_duration,coef_var,income_total_duration,outgo_total_duration,income_total_frequency,...,workday3_income_time_ratio,workday3ougo_time_ratio,workday3_income_cnt_ratio,workday3_ougo_cnt_ratio,week_work_ratio,total_time,total_freq,total_avg_duration,name,is_rel
custorm_id,,,,,,,,,,,,,,,,,,,,,
100008,13806983929,37.0,2108.0,56.972973,158.0,15.0,0.634581,1158.0,950.0,20,...,0.103647,NaN,0.130435,0.000000,1.911927,122465.0,1942,63.061277,龙岩姐夫,0
100008,13806032559,23.0,808.0,35.130435,120.0,11.0,0.779840,640.0,168.0,17,...,0.096100,0.271588,0.157895,0.157895,5.318519,122465.0,1942,63.061277,吴江腾,0
100008,13459200353,9.0,361.0,40.111111,83.0,14.0,0.613997,323.0,38.0,7,...,0.828571,0.171429,0.666667,0.333333,0.633484,122465.0,1942,63.061277,紅館曾小虎,0

In [ ]:
ss=rel_data.total_frequency.astype('float')/rel_data.total_freq.astype('float')