##   通话网络数据处理

In [39]:
%matplotlib   inline   
import pandas as pd
import numpy as np

In [3]:
net=pd.read_csv('chapter1data/comm_data.csv',index_col=0)

/opt/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
net.shape

(13043120, 32)

In [5]:
net.head(3)

,custorm_id,number,total_frequency,total_duration,avg_duration,max_duration,min_duration,coef_var,income_total_duration,outgo_total_duration,...,time_engagement_ratio,cnt_engagement_ratio,avg_interval,min_interval,max_interval,std_interval,avg_aday_duration,max_aday_duration,std_aday_duration,cust_b
0,1000241,18610315343,2,27.0,13.500000,14.0,13.0,0.037037,NaN,27.0,...,NaN,0.000000,2.130000,2.13,2.13,0.000000,0.101721,0.101721,0.000000,7003685
1,1000392,17788901665,1,34.0,34.000000,34.0,34.0,0.000000,NaN,34.0,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6112203
2,1000550,15657559090,65,8981.0,138.169231,652.0,6.0,0.989548,3682.0,5299.0,...,0.819953,0.892308,3915.766406,2.13,47552.00,10487.689083,0.109808,0.753318,0.183406,9564029

In [6]:
net.columns

Index([u'custorm_id', u'number', u'total_frequency', u'total_duration',
       u'avg_duration', u'max_duration', u'min_duration', u'coef_var',
       u'income_total_duration', u'outgo_total_duration',
       u'income_total_frequency', u'outgo_total_frequency',
       u'income_avg_duration', u'outgo_avg_duration', u'outgo_time_ratio',
       u'outgo_cnt_ratio', u'income2avg', u'outgo2avg',
       u'local_total_duration', u'unlocal_total_duration',
       u'local_total_frequency', u'unlocal_total_frequency',
       u'time_engagement_ratio', u'cnt_engagement_ratio', u'avg_interval',
       u'min_interval', u'max_interval', u'std_interval', u'avg_aday_duration',
       u'max_aday_duration', u'std_aday_duration', u'cust_b'],
      dtype='object')

In [87]:
net_rel=net.ix[:,['custorm_id','cust_b','avg_duration']].dropna()
net_rel.shape

(13026849, 3)

In [89]:
net_rel2=net.ix[:,['custorm_id','cust_b','coef_var']].dropna()
net_rel2.shape

(13021609, 3)

In [80]:
net_rel.describe()

             cust_b  avg_duration
count  1.300505e+07  1.300505e+07
mean   4.426844e+06  4.078534e+00
std    2.636084e+06  8.288616e-01
min    8.000000e+00  5.129329e-02
25%    2.117834e+06  3.555348e+00
50%    4.071299e+06  4.043051e+00
75%    6.672682e+06  4.578980e+00
max    9.619678e+06  7.495211e+00

In [78]:
net_rel=net_rel[(net_rel.avg_duration>1)&(net_rel.avg_duration<1800)]

In [79]:
net_rel.avg_duration=np.log(net_rel.avg_duration.values)

In [55]:
net_rel.avg_duration=(net_rel.avg_duration.values-net_rel.avg_duration.min())/(net_rel.avg_duration.max()-net_rel.avg_duration.min())*100

In [77]:
net_rel.avg_duration.ty

(13005053, 3)

In [84]:
print '%0.2f' %(3.254)

3.25

In [85]:
net_rel.to_csv('chapter1data/net_rel.csv',float_format='%0.2f')